/* Base Application Styles */
/*@font-face {
    font-family: 'icons-turn-arrow';
    src: url('../fonts/icons/turn-arrow.eot') format("embedded-opentype"),
         url('../fonts/icons/turn-arrow.woff') format('woff'),
         url('../fonts/icons/turn-arrow.ttf') format('truetype'),
         url("../fonts/icons/turn-arrow.svg") format("svg")
}*/

html, body {
    background: #222;
}

/* stage start */
.stage {
    position: relative;
    width: 100%;
    height: 680px;
}
/* stage end */


/* img start */
img {
    width: 240px;
    height: 240px;
}

.img-sec {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;

    perspective: 1800px;
}

.img-figure {
    position: absolute;
    width: 320px;
    height: 360px;
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
    transform-origin: 0 50% 0;
}

.is-inverse {
    transform: translate(320px) rotateY(180deg);
}

figcaption {
    text-align: center;
}

figcaption .img-title {
    margin: 20px 0 0 0;
    color: #a7a0a2;
    font-size: 16px;
}

figcaption .img-back {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    padding: 50px 40px;
    box-sizing: border-box;

    text-align: left;
    color: #a7a0a2;
    font-size: 22px;
    background-color: #fff;
    overflow: auto;
    backface-visibility: hidden;

    transform: rotateY(180deg) translateZ(1px);
}

.img-back p {
    margin: 0;
}
/* img end */

.controller-nav {
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;
    width: 100%;
    text-align: center;
}

.controller-unit {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;

    color: #fff;
    font-size: 80%;
    line-height: 30px;

    text-align: center;
    vertical-align: middle;

    cursor: pointer;
    background-color: #aaa;
    border-radius: 50%;

    transform: scale(.5);
    transition: transform .6s ease-in-out, background-color .3s;
}

.controller-unit.is-center {
    transform: scale(.8);
    background-color: #888;
}

.controller-unit.is-center.is-inverse {
    background-color: #555;
    transform: scale(.8) rotateY(180deg);
}
